/* *VIGENERE */
table {
  font-size: 1.8rem;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #aaa;
  padding: 0.5rem 0.6rem;
}

tr th {
  width: 50px;
}

tr:nth-child(odd) {
  background-color: #a5d8ff;
}

tr:nth-child(even) {
  background-color: #ffd8a8;
}

#section-crypto-des .key-binary span:nth-child(even) {
  color: #228be6;
}

#section-crypto-des .key-binary span:nth-child(odd) {
  color: #fd7e14;
}

#section-crypto-des .table-group {
  display: flex;
  gap: 4rem;
}

#section-crypto-des .table-group td {
  width: 50px;
  /* background-color: white; */
}

/* #section-crypto-des .table-group tr:nth-child(even) {
  background-color: #74c0fc;
}

#section-crypto-des .table-group tr:nth-child(odd) {
  background-color: #ffc078;
} */
