.app {
  /* display: block;
  margin: auto;
  width: 1200px; */
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  margin: 0 auto 100px;
  width: 1200px;
}

/* *BEGIN: Header navbar and sidebar */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__navbar {
  /* top: 0; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #999;
  /* width: 100%; */
  height: var(--navbar-height);
}
.header-content {
  margin-top: var(--navbar-height);
}

.header__icon {
  font-size: 3rem;
  padding: 22px;
  cursor: pointer;
}

.sidebar-toggle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  transform: translateX(-100%);
  background-color: skyblue;
  transition: all 0.2s ease-in-out;
  display: block;
}

.sidebar-toggle.active {
  transform: translateX(0);
}

/* *END: Header navbar and sidebar */

.header h1 {
  font-size: 4.6rem;
  line-height: 4.6rem;
}

.section-1 h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
}

.section-1 .section-1__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 .form-group {
}

.section-1 .form-label {
  font-size: 2rem;
}

.section-1 .form-control {
  outline: none;
  font-size: 2rem;
  height: 36px;
  width: 400px;
  margin-left: 8px;
  padding: 6px;
}

.section-1 .btn {
  font-size: 1.8rem;
  cursor: pointer;
}

.section-1__answer {
  font-size: 2rem;
  line-height: 2rem;
}
